<form method="post" action="/students">
  <label for="first-name">First Name:</label>
  <input type="text" name="first_name" value="first-name"/>

  <label for="last-name">Last Name:</label>
  <input type="text" name="last_name" value="last-name"/>

  <label for="age">Age:</label>
  <input type="number" name="age" value="age"/>

  <label for="house_select">Select House:</label>
  <select name="house_id" id="house_select">
    <option value="17">Gryffindor</option>
    <option value="18">Hufflepuff</option>
    <option value="19">Ravenclaw</option>
    <option value="20">Slytherin</option>
  </select>

  <input type="submit" value="Let's See the Magic!">
</form>
